<div class="stats-container">
<div class='stats' id='s026'>
    <div class='step' id='sec6_sl3_00_0'><p class='center margin'>
  	</p>
    
    </div>
    <table class='margin center border step' id='sec6_sl3_01_0'>
      <tr>
        <th class='empty middle padded' rowspan='2'>
          Care of Adults
        </th>
        <th class='normal' colspan='4'>
          <small>
            <i>Choose one response from these four columns</i>
          </small>
        </th>
        <th class='normal' colspan='2'>
          <small>
            <i>Choose one response from these two columns</i>
          </small>
        </th>
      </tr>
      <tr>
        <th class='normal' style='width: 12%;'>
          <i>No Training</i> in this area
        </th>
        <th class='normal' style='width: 12%;'>
          <i>Underprepared</i> to do in current practice
        </th>
        <th class='normal' style='width: 12%;'>
          <i>Adequately Prepared</i> to do in current practice
        </th>
        <th class='normal' style='width: 12%;'>
          <i>Overprepared</i> to do in current practice
        </th>
        <th class='normal' colspan='2' style='width: 20%;'>
          Currently part of your practice?
        </th>
      </tr>
      <tr>
        <td class='question'>
        <span class='hint'>6.03a - </span>
        Ambulatory care
        </td>
        <td>
          <span class='stat'><a name='q603a'></a><%= show_stats('q603a', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q603a'></a><%= show_stats('q603a', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q603a'></a><%= show_stats('q603a', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q603a'></a><%= show_stats('q603a', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q603a_practiced'></a><%= show_stats('q603a_practiced', '1') %></span>
          <label for='q603a_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q603a_practiced'></a><%= show_stats('q603a_practiced', '0') %></span>
          <label for='q603a_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
        <span class='hint'>6.03b - </span>
        Inpatient care
        </td>
        <td>
          <span class='stat'><a name='q603b'></a><%= show_stats('q603b', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q603b'></a><%= show_stats('q603b', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q603b'></a><%= show_stats('q603b', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q603b'></a><%= show_stats('q603b', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q603b_practiced'></a><%= show_stats('q603b_practiced', '1') %></span>
          <label for='q603b_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q603b_practiced'></a><%= show_stats('q603b_practiced', '0') %></span>
          <label for='q603b_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
        <span class='hint'>6.03c - </span>
        Intensive care / ICU-CCU
        </td>
        <td>
          <span class='stat'><a name='q603c'></a><%= show_stats('q603c', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q603c'></a><%= show_stats('q603c', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q603c'></a><%= show_stats('q603c', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q603c'></a><%= show_stats('q603c', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q603c_practiced'></a><%= show_stats('q603c_practiced', '1') %></span>
          <label for='q603c_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q603c_practiced'></a><%= show_stats('q603c_practiced', '0') %></span>
          <label for='q603c_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
        <span class='hint'>6.03d - </span>
        Nursing home care
        </td>
        <td>
          <span class='stat'><a name='q603d'></a><%= show_stats('q603d', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q603d'></a><%= show_stats('q603d', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q603d'></a><%= show_stats('q603d', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q603d'></a><%= show_stats('q603d', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q603d_practiced'></a><%= show_stats('q603d_practiced', '1') %></span>
          <label for='q603d_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q603d_practiced'></a><%= show_stats('q603d_practiced', '0') %></span>
          <label for='q603d_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
        <span class='hint'>6.03e - </span>
        Surgical assist
        </td>
        <td>
          <span class='stat'><a name='q603e'></a><%= show_stats('q603e', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q603e'></a><%= show_stats('q603e', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q603e'></a><%= show_stats('q603e', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q603e'></a><%= show_stats('q603e', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q603e_practiced'></a><%= show_stats('q603e_practiced', '1') %></span>
          <label for='q603e_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q603e_practiced'></a><%= show_stats('q603e_practiced', '0') %></span>
          <label for='q603e_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
        <span class='hint'>6.03f - </span>
        EKG interpretation
        </td>
        <td>
          <span class='stat'><a name='q603f'></a><%= show_stats('q603f', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q603f'></a><%= show_stats('q603f', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q603f'></a><%= show_stats('q603f', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q603f'></a><%= show_stats('q603f', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q603f_practiced'></a><%= show_stats('q603f_practiced', '1') %></span>
          <label for='q603f_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q603f_practiced'></a><%= show_stats('q603f_practiced', '0') %></span>
          <label for='q603f_practiced_0'>No</label>
        </td>
      </tr>
    </table>
    
    
  </div>
</div>
<div class="break"></div>
