<div class="stats-container">
<div class='stats' id='s011'>
    <div class='step' id='sec2_sl5_00_0'><p class='center hint small margin'>
      <i>Please click only one circle for the question below.</i>
    </p>
    
    </div>
    <table class='cell-left full padded borderless center step' id='sec2_sl5_01_0'>
    <tr>
      <td class='top question' colspan='3' style='width: 50%;'>
        <span class='hint'>2.08 - </span>
        What is your pre-tax yearly income, excluding benefits?  
        <br/>
      </td>
    </tr>
    <tr>
      <td width='6%'> </td>
      <td>
        <span class='stat'><a name='q208'></a><%= show_stats('q208', '1') %></span>
        <label for='q208_1'>
        $0 &#8212; $50,000
        </label>
        <br/>
        <span class='stat'><a name='q208'></a><%= show_stats('q208', '2') %></span>
        <label for='q208_2'>
        $50,001 &#8212; $100,000
        </label>
        <br/>
        <span class='stat'><a name='q208'></a><%= show_stats('q208', '3') %></span>
        <label for='q208_3'>
        $100,001 &#8212; $125,000
        </label>
        <br/>
        <span class='stat'><a name='q208'></a><%= show_stats('q208', '4') %></span>
        <label for='q208_4'>
        $125,001 &#8212; $150,000
        </label>
      </td>
      <td>
        <span class='stat'><a name='q208'></a><%= show_stats('q208', '5') %></span>
        <label for='q208_5'>
        $150,001 &#8212; $175,000
        </label>
        <br/>
        <span class='stat'><a name='q208'></a><%= show_stats('q208', '6') %></span>
        <label for='q208_6'>
        $175,001 &#8212; $200,000
        </label>
        <br/>
        <span class='stat'><a name='q208'></a><%= show_stats('q208', '7') %></span>
        <label for='q208_7'>
        $200,001 &#8212; $250,000
        </label>
        <br/>
        <span class='stat'><a name='q208'></a><%= show_stats('q208', '8') %></span>
        <label for='q208_8'>
        Greater than $250,000
        </label>
      </td>
    </tr>
    </table>
    
    
  </div>
</div>
<div class="break"></div>
