<div class="stats-container">
<div class='stats' id='s031'>
    <div class='step' id='sec6_sl6_00_0'><p class='center margin'>
  	</p>
    
    </div>
    <table class='margin center border step' id='sec6_sl6_01_0'>
      <tr>
        <th class='empty middle padded' rowspan='2'>
          Specialty Areas
        </th>
        <th class='normal' colspan='4'>
          <small>
            <i>Choose one response from these four columns</i>
          </small>
        </th>
        <th class='normal' colspan='2'>
          <small>
            <i>Choose one response from these two columns</i>
          </small>
        </th>
      </tr>
      <tr>
        <th class='normal' style='width: 12%;'>
          <i>No Training</i> in this area
        </th>
        <th class='normal' style='width: 12%;'>
          <i>Underprepared</i> to do in current practice
        </th>
        <th class='normal' style='width: 12%;'>
          <i>Adequately Prepared</i> to do in current practice
        </th>
        <th class='normal' style='width: 12%;'>
          <i>Overprepared</i> to do in current practice
        </th>
        <th class='normal' colspan='2' style='width: 20%;'>
          Currently part of your practice?
        </th>
      </tr>
      <tr>
        <td class='question'>
        <span class='hint'>6.07a - </span>
        Women's Health
        </td>
        <td>
          <span class='stat'><a name='q606a'></a><%= show_stats('q606a', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q606a'></a><%= show_stats('q606a', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q606a'></a><%= show_stats('q606a', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q606a'></a><%= show_stats('q606a', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q606a_practiced'></a><%= show_stats('q606a_practiced', '1') %></span>
          <label for='q606a_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q606a_practiced'></a><%= show_stats('q606a_practiced', '0') %></span>
          <label for='q606a_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
        <span class='hint'>6.07b - </span>
        Gynecology
        </td>
        <td>
          <span class='stat'><a name='q606b'></a><%= show_stats('q606b', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q606b'></a><%= show_stats('q606b', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q606b'></a><%= show_stats('q606b', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q606b'></a><%= show_stats('q606b', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q606b_practiced'></a><%= show_stats('q606b_practiced', '1') %></span>
          <label for='q606b_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q606b_practiced'></a><%= show_stats('q606b_practiced', '0') %></span>
          <label for='q606b_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
        <span class='hint'>6.07c - </span>
        Orthopedics / Musculoskeletal Medicine
        </td>
        <td>
          <span class='stat'><a name='q606c'></a><%= show_stats('q606c', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q606c'></a><%= show_stats('q606c', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q606c'></a><%= show_stats('q606c', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q606c'></a><%= show_stats('q606c', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q606c_practiced'></a><%= show_stats('q606c_practiced', '1') %></span>
          <label for='q606c_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q606c_practiced'></a><%= show_stats('q606c_practiced', '0') %></span>
          <label for='q606c_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
        <span class='hint'>6.07d - </span>
        Sports Medicine
        </td>
        <td>
          <span class='stat'><a name='q606d'></a><%= show_stats('q606d', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q606d'></a><%= show_stats('q606d', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q606d'></a><%= show_stats('q606d', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q606d'></a><%= show_stats('q606d', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q606d_practiced'></a><%= show_stats('q606d_practiced', '1') %></span>
          <label for='q606d_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q606d_practiced'></a><%= show_stats('q606d_practiced', '0') %></span>
          <label for='q606d_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
        <span class='hint'>6.07e - </span>
        Emergency Medicine
        </td>
        <td>
          <span class='stat'><a name='q606e'></a><%= show_stats('q606e', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q606e'></a><%= show_stats('q606e', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q606e'></a><%= show_stats('q606e', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q606e'></a><%= show_stats('q606e', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q606e_practiced'></a><%= show_stats('q606e_practiced', '1') %></span>
          <label for='q606e_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q606e_practiced'></a><%= show_stats('q606e_practiced', '0') %></span>
          <label for='q606e_practiced_0'>No</label>
        </td>
      </tr>
    </table>
    
    
  </div>
</div>
<div class="break"></div>
