<div class="stats-container">
<div class='stats' id='s030'>
    <div class='step' id='sec5_sl22_00_0'><p class='center margin'>
  	</p>
    
    </div>
    <table class='margin center border step' id='sec5_sl22_01_0'>
      <tr>
        <th class='empty middle padded' rowspan='2'>
          Other Aspects of Practice<br/>
          <i class='hint'>(Continued)</i>
        </th>
        <th class='normal' colspan='4'>
          <small>
            <i>Choose one response from these four columns</i>
          </small>
        </th>
        <th class='normal' colspan='2'>
          <small>
            <i>Choose one response from these two columns</i>
          </small>
        </th>
      </tr>
      <tr>
        <th class='normal' style='width: 12%;'>
          <i>No Training</i> in this area
        </th>
        <th class='normal' style='width: 12%;'>
          <i>Underprepared</i> to do in current practice
        </th>
        <th class='normal' style='width: 12%;'>
          <i>Adequately Prepared</i> to do in current practice
        </th>
        <th class='normal' style='width: 12%;'>
          <i>Overprepared</i> to do in current practice
        </th>
        <th class='normal' colspan='2' style='width: 20%;'>
          Currently part of your practice?
        </th>
      </tr>
      <tr>
        <td class='question'>
        <span class='hint'>6.06e - </span>
        Quality improvement
        </td>
        <td>
          <span class='stat'><a name='q514e'></a><%= show_stats('q514e', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q514e'></a><%= show_stats('q514e', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q514e'></a><%= show_stats('q514e', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q514e'></a><%= show_stats('q514e', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q514e_practiced'></a><%= show_stats('q514e_practiced', '1') %></span>
          <label for='q514e_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q514e_practiced'></a><%= show_stats('q514e_practiced', '0') %></span>
          <label for='q514e_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
        <span class='hint'>6.06f - </span>
        Team-based care
        </td>
        <td>
          <span class='stat'><a name='q514f'></a><%= show_stats('q514f', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q514f'></a><%= show_stats('q514f', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q514f'></a><%= show_stats('q514f', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q514f'></a><%= show_stats('q514f', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q514f_practiced'></a><%= show_stats('q514f_practiced', '1') %></span>
          <label for='q514f_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q514f_practiced'></a><%= show_stats('q514f_practiced', '0') %></span>
          <label for='q514f_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
        <span class='hint'>6.06g - </span>
        Integration of evidence-based medicine
        </td>
        <td>
          <span class='stat'><a name='q514g'></a><%= show_stats('q514g', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q514g'></a><%= show_stats('q514g', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q514g'></a><%= show_stats('q514g', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q514g'></a><%= show_stats('q514g', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q514g_practiced'></a><%= show_stats('q514g_practiced', '1') %></span>
          <label for='q514g_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q514g_practiced'></a><%= show_stats('q514g_practiced', '0') %></span>
          <label for='q514g_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
        <span class='hint'>6.06h - </span>
        Health behavior change counseling
        </td>
        <td>
          <span class='stat'><a name='q514h'></a><%= show_stats('q514h', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q514h'></a><%= show_stats('q514h', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q514h'></a><%= show_stats('q514h', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q514h'></a><%= show_stats('q514h', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q514h_practiced'></a><%= show_stats('q514h_practiced', '1') %></span>
          <label for='q514h_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q514h_practiced'></a><%= show_stats('q514h_practiced', '0') %></span>
          <label for='q514h_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
        <span class='hint'>6.06i - </span>
          Pain Management
        </td>
        <td>
          <span class='stat'><a name='q514i'></a><%= show_stats('q514i', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q514i'></a><%= show_stats('q514i', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q514i'></a><%= show_stats('q514i', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q514i'></a><%= show_stats('q514i', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q514i_practiced'></a><%= show_stats('q514i_practiced', '1') %></span>
          <label for='q514i_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q514i_practiced'></a><%= show_stats('q514i_practiced', '0') %></span>
          <label for='q514i_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
        <span class='hint'>6.06j - </span>
        Alcohol / Substance Abuse
        </td>
        <td>
          <span class='stat'><a name='q514j'></a><%= show_stats('q514j', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q514j'></a><%= show_stats('q514j', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q514j'></a><%= show_stats('q514j', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q514j'></a><%= show_stats('q514j', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q514j_practiced'></a><%= show_stats('q514j_practiced', '1') %></span>
          <label for='q514j_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q514j_practiced'></a><%= show_stats('q514j_practiced', '0') %></span>
          <label for='q514j_practiced_0'>No</label>
        </td>
      </tr>
    </table>
    
    
  </div>
</div>
<div class="break"></div>
