<div class="stats-container">
<h3 id="s013-top">Status of PCMH Features</h3>
<div class='stats' id='s013'>
    <div class='step' id='sec4_sl1_00_0'><p class='center margin'>
      <i>For each of the features below, please click the circle that
      best represents the status of the feature in your practice.</i> 
  	</p>
    
    </div>
    <table class='margin full-wide center border step' id='sec4_sl1_01_0'>
      <tr>
        <th class='left empty normal hint padded'>
          <small>
            0 = Don't know the status / Not applicable to me<br/>
            1 = Absent/No Plans (not likely to be implemented)<br/>
            2 = Planning (implementation likely in 12-24 months)<br/>
            3 = Present/implemented (major upgrades likely)<br/>
            4 = Mature (fully functional / upgrades minor)<br/>
          </small>
        </th>
        <th style='width: 10%;'>
          Don't Know<br/>
          <span class='hint normal'>(0)</span>
        </th>
        <th style='width: 10%;'>
          Absent<br/>
          <span class='hint normal'>(1)</span>
        </th>
        <th style='width: 10%;'>
          Planning<br/>
          <span class='hint normal'>(2)</span>
        </th>
        <th style='width: 10%;'>
          Present<br/>
          <span class='hint normal'>(3)</span>
        </th>
        <th style='width: 10%;'>
          Mature<br/>
          <span class='hint normal'>(4)</span>
        </th>
      </tr>
      <tr>
        <td class='align-left question'>
        <span class='hint'>4.01 - </span>
        EMR (Electronic Medical Record) in your practice
        </td>
        <td>
          <span class='stat'><a name='q401'></a><%= show_stats('q401', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q401'></a><%= show_stats('q401', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q401'></a><%= show_stats('q401', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q401'></a><%= show_stats('q401', '3') %></span>
        </td>
        <td>
          <span class='stat'><a name='q401'></a><%= show_stats('q401', '4') %></span>
        </td>
      </tr>
      <tr>
        <td class='align-left question'>
        <span class='hint'>4.02 - </span>
        Paperless Practice  (all interfaces and scanning work - no paper charts)
        </td>
        <td>
          <span class='stat'><a name='q402'></a><%= show_stats('q402', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q402'></a><%= show_stats('q402', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q402'></a><%= show_stats('q402', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q402'></a><%= show_stats('q402', '3') %></span>
        </td>
        <td>
          <span class='stat'><a name='q402'></a><%= show_stats('q402', '4') %></span>
        </td>
      </tr>
      <tr>
        <td class='align-left question'>
        <span class='hint'>4.03 - </span>
        Full secured remote access
        </td>
        <td>
          <span class='stat'><a name='q403'></a><%= show_stats('q403', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q403'></a><%= show_stats('q403', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q403'></a><%= show_stats('q403', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q403'></a><%= show_stats('q403', '3') %></span>
        </td>
        <td>
          <span class='stat'><a name='q403'></a><%= show_stats('q403', '4') %></span>
        </td>
      </tr>
      <tr>
        <td class='align-left question'>
        <span class='hint'>4.04 - </span>
        Electronic Transcription (notes entered directly via templates or
        speech recognition)
        </td>
        <td>
          <span class='stat'><a name='q404'></a><%= show_stats('q404', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q404'></a><%= show_stats('q404', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q404'></a><%= show_stats('q404', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q404'></a><%= show_stats('q404', '3') %></span>
        </td>
        <td>
          <span class='stat'><a name='q404'></a><%= show_stats('q404', '4') %></span>
        </td>
      </tr>
      <tr>
        <td class='align-left question'>
        <span class='hint'>4.05 - </span>
        Electronic scheduling system Integrated with EMR
        </td>
        <td>
          <span class='stat'><a name='q405'></a><%= show_stats('q405', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q405'></a><%= show_stats('q405', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q405'></a><%= show_stats('q405', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q405'></a><%= show_stats('q405', '3') %></span>
        </td>
        <td>
          <span class='stat'><a name='q405'></a><%= show_stats('q405', '4') %></span>
        </td>
      </tr>
    </table>
    
    
  </div>
</div>
<div class="break"></div>
