<div class="stats-container">
<h3 id="s033-top">Residency Training Assessment (cont)</h3>

<div class='stats' id='s033'>
    <div class='step' id='sec5_sl10_00_0'><p class='center margin'>
  	</p>
    
    </div>
    <table class='margin center border step' id='sec5_sl10_01_0'>
      <tr>
        <th class='empty middle padded' rowspan='2'>
          Skin Procedures
        </th>
        <th class='normal' colspan='4'>
          <small>
            <i>Choose one response from these four columns</i>
          </small>
        </th>
        <th class='normal' colspan='2'>
          <small>
            <i>Choose one response from these two columns</i>
          </small>
        </th>
      </tr>
      <tr>
        <th class='normal' style='width: 12%;'>
          <i>No Training</i> in this procedure
        </th>
        <th class='normal' style='width: 12%;'>
          <i>Underprepared</i> to do in current practice
        </th>
        <th class='normal' style='width: 12%;'>
          <i>Adequately Prepared</i> to do in current practice
        </th>
        <th class='normal' style='width: 12%;'>
          <i>Overprepared</i> to do in current practice
        </th>
        <th class='normal' colspan='2' style='width: 20%;'>
          Currently part of your practice?
        </th>
      </tr>
      <tr>
        <td class='question'>
        <span class='hint'>7.01a - </span>
        Biopsies-punch, shave, excisional
        </td>
        <td>
          <span class='stat'><a name='q506a'></a><%= show_stats('q506a', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q506a'></a><%= show_stats('q506a', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q506a'></a><%= show_stats('q506a', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q506a'></a><%= show_stats('q506a', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q506a_practiced'></a><%= show_stats('q506a_practiced', '1') %></span>
          <label for='q506a_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q506a_practiced'></a><%= show_stats('q506a_practiced', '0') %></span>
          <label for='q506a_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
        <span class='hint'>7.01b - </span>
        Cryosurgery
        </td>
        <td>
          <span class='stat'><a name='q506b'></a><%= show_stats('q506b', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q506b'></a><%= show_stats('q506b', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q506b'></a><%= show_stats('q506b', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q506b'></a><%= show_stats('q506b', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q506b_practiced'></a><%= show_stats('q506b_practiced', '1') %></span>
          <label for='q506b_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q506b_practiced'></a><%= show_stats('q506b_practiced', '0') %></span>
          <label for='q506b_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
        <span class='hint'>7.01c - </span>
        Remove warts, toenail, foreign body
        </td>
        <td>
          <span class='stat'><a name='q506c'></a><%= show_stats('q506c', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q506c'></a><%= show_stats('q506c', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q506c'></a><%= show_stats('q506c', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q506c'></a><%= show_stats('q506c', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q506c_practiced'></a><%= show_stats('q506c_practiced', '1') %></span>
          <label for='q506c_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q506c_practiced'></a><%= show_stats('q506c_practiced', '0') %></span>
          <label for='q506c_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
        <span class='hint'>7.01d - </span>
        Incision &amp; drainage of abscess
        </td>
        <td>
          <span class='stat'><a name='q506d'></a><%= show_stats('q506d', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q506d'></a><%= show_stats('q506d', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q506d'></a><%= show_stats('q506d', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q506d'></a><%= show_stats('q506d', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q506d_practiced'></a><%= show_stats('q506d_practiced', '1') %></span>
          <label for='q506d_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q506d_practiced'></a><%= show_stats('q506d_practiced', '0') %></span>
          <label for='q506d_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
        <span class='hint'>7.01e - </span>
        Simple laceration repair
        </td>
        <td>
          <span class='stat'><a name='q506e'></a><%= show_stats('q506e', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q506e'></a><%= show_stats('q506e', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q506e'></a><%= show_stats('q506e', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q506e'></a><%= show_stats('q506e', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q506e_practiced'></a><%= show_stats('q506e_practiced', '1') %></span>
          <label for='q506e_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q506e_practiced'></a><%= show_stats('q506e_practiced', '0') %></span>
          <label for='q506e_practiced_0'>No</label>
        </td>
      </tr>
    </table>
    
    
  </div>
</div>
<div class="break"></div>
