<div class="stats-container">
<div class='stats' id='s023'>
    <div class='step' id='sec5_sl05_00_0'><p class='center small hint margin'>
    </p>
    
    </div>
    <table class='cell-left full borderless center step' id='sec5_sl05_01_0'>
    <tr>
      <td class='question' colspan='2'>
        <span class='hint'>5.04 - </span>
        What kind of teaching activities do you participate in? 
      </td>
    </tr>
    <tr>
      <td style='width: 1%;'> </td>
      <td style='width: 99%;'>
       <div>
         <span class='stat'><a name='q505_1'></a><%= show_stats('q505_1', '1') %></span>
         <label for='q505_1'>Medical students</label>
       </div>
       <div>
         <span class='stat'><a name='q505_2'></a><%= show_stats('q505_2', '1') %></span>
         <label for='q505_2'>Residents</label>
       </div>
       <div>
         <span class='stat'><a name='q505_3'></a><%= show_stats('q505_3', '1') %></span>
         <label for='q505_3'>Fellows</label>
       </div>
       <div>
         <span class='stat'><a name='q505_4'></a><%= show_stats('q505_4', '1') %></span>
         <label for='q505_4'>Other health care professionals</label>
         <label for='q505_4'>&#8212;</label>
         <span class='stat'><a name='q505_other'></a><%= show_stats('q505_other', '') %></span>
         <%= errors_for('q505_other') %>
        </div>
       <div>
         <span class='stat'><a name='q505_none'></a><%= show_stats('q505_none', '1') %></span>
         <label for='q505_none'>None of the above</label>
       </div>
      </td>
    </tr>
    </table>
    
    
  </div>
</div>
<div class="break"></div>
