<div class="stats-container">
<div class='stats' id='s027'>
    <div class='step' id='sec6_sl4_00_0'><p class='center margin'>
  	</p>
    
    </div>
    <table class='margin center border step' id='sec6_sl4_01_0'>
      <tr>
        <th class='empty middle padded' rowspan='2'>
          Care of the Surgical Patient,<br/>
          Surgical Subspecialties
        </th>
        <th class='normal' colspan='4'>
          <small>
            <i>Choose one response from these four columns</i>
          </small>
        </th>
        <th class='normal' colspan='2'>
          <small>
            <i>Choose one response from these two columns</i>
          </small>
        </th>
      </tr>
      <tr>
        <th class='normal' style='width: 12%;'>
          <i>No Training</i> in this area
        </th>
        <th class='normal' style='width: 12%;'>
          <i>Underprepared</i> to do in current practice
        </th>
        <th class='normal' style='width: 12%;'>
          <i>Adequately Prepared</i> to do in current practice
        </th>
        <th class='normal' style='width: 12%;'>
          <i>Overprepared</i> to do in current practice
        </th>
        <th class='normal' colspan='2' style='width: 20%;'>
          Currently part of your practice?
        </th>
      </tr>
      <tr>
        <td class='question'>
        <span class='hint'>6.04a - </span>
        Pre-Op and Post-Op Care
        </td>
        <td>
          <span class='stat'><a name='q604a'></a><%= show_stats('q604a', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q604a'></a><%= show_stats('q604a', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q604a'></a><%= show_stats('q604a', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q604a'></a><%= show_stats('q604a', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q604a_practiced'></a><%= show_stats('q604a_practiced', '1') %></span>
          <label for='q604a_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q604a_practiced'></a><%= show_stats('q604a_practiced', '0') %></span>
          <label for='q604a_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
        <span class='hint'>6.04b - </span>
        Ophthalmology
        </td>
        <td>
          <span class='stat'><a name='q604b'></a><%= show_stats('q604b', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q604b'></a><%= show_stats('q604b', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q604b'></a><%= show_stats('q604b', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q604b'></a><%= show_stats('q604b', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q604b_practiced'></a><%= show_stats('q604b_practiced', '1') %></span>
          <label for='q604b_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q604b_practiced'></a><%= show_stats('q604b_practiced', '0') %></span>
          <label for='q604b_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
        <span class='hint'>6.04c - </span>
        Otolaryngology
        </td>
        <td>
          <span class='stat'><a name='q604c'></a><%= show_stats('q604c', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q604c'></a><%= show_stats('q604c', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q604c'></a><%= show_stats('q604c', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q604c'></a><%= show_stats('q604c', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q604c_practiced'></a><%= show_stats('q604c_practiced', '1') %></span>
          <label for='q604c_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q604c_practiced'></a><%= show_stats('q604c_practiced', '0') %></span>
          <label for='q604c_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
        <span class='hint'>6.04d - </span>
        Urology
        </td>
        <td>
          <span class='stat'><a name='q604d'></a><%= show_stats('q604d', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q604d'></a><%= show_stats('q604d', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q604d'></a><%= show_stats('q604d', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q604d'></a><%= show_stats('q604d', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q604d_practiced'></a><%= show_stats('q604d_practiced', '1') %></span>
          <label for='q604d_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q604d_practiced'></a><%= show_stats('q604d_practiced', '0') %></span>
          <label for='q604d_practiced_0'>No</label>
        </td>
      </tr>
    </table>
    
    
  </div>
</div>
<div class="break"></div>
