<div class="stats-container">
<div class='stats' id='s004'>
    <div class='step' id='sec1_sl3_00_0'><p class='margin'>
    </p>
    
    </div>
    <table class='cell-left full borderless center step' id='sec1_sl3_01_0'>
    <tr id="q104">
      <td class='question'>
        <span class='hint'>1.03 - </span>
        In what state(s) are you currently practicing?<br/>
      </td>
      <td>
        <div class='padded'>
          <span class='stat'><a name='q104'></a><%= show_stats('q104', '') %></span>
          <%= errors_for('q104') %>
        </div>
      </td>
    </tr>
    <tr id="q103a">
      <td class='question' style='width: 65%;'>
        <span class='hint'>1.04 - </span>
        Are you currently enrolled in or did you complete a fellowship after
        residency training?
      </td>
      <td class='no-wrap'>
        <div class='padded'>
          <span class='stat'><a name='q103a'></a><%= show_stats('q103a', '1') %></span>
          <label for='q103a_1'>Yes</label>
          <span class='stat'><a name='q103a'></a><%= show_stats('q103a', '2') %></span>
          <label for='q103a_2'>No</label>
        </div>
      </td>
    </tr>
    </table>
    
    
    <table class='cell-left full borderless center step' id='sec1_sl3_02_0'>
    <tr>
      <td class='question' style='vertical-align: top; width: 40%;'>
        <span class='hint'>1.04a - </span>
        What type of fellowship(s)?
      </td>
      <td>
       <div class='small padded no-wrap'>
         <span class='stat'><a name='q103b_1'></a><%= show_stats('q103b_1', '1') %></span>
         <label for='q103b_1'>Obstetrics / Maternity Care</label>
         <br/>
         <span class='stat'><a name='q103b_2'></a><%= show_stats('q103b_2', '1') %></span>
         <label for='q103b_2'>Geriatrics</label>
         <br/>
         <span class='stat'><a name='q103b_3'></a><%= show_stats('q103b_3', '1') %></span>
         <label for='q103b_3'>Sports Medicine</label>
         <br/>
         <span class='stat'><a name='q103b_4'></a><%= show_stats('q103b_4', '1') %></span>
         <label for='q103b_4'>Research</label>
         <br/>
         <span class='stat'><a name='q103b_5'></a><%= show_stats('q103b_5', '1') %></span>
         <label for='q103b_5'>Faculty Development</label>
         <br/>
         <span class='stat'><a name='q103b_6'></a><%= show_stats('q103b_6', '1') %></span>
         <label for='q103b_6'>Pain Management</label>
         <br/>
         <span class='stat'><a name='q103b_7'></a><%= show_stats('q103b_7', '1') %></span>
         <label for='q103b_7'>Hospitalist</label>
         <br/>
         <span class='stat'><a name='q103b_8'></a><%= show_stats('q103b_8', '1') %></span>
         <label for='q103b_8'>Emergency Medicine</label>
         <br/>
         <span class='stat'><a name='q103b_9'></a><%= show_stats('q103b_9', '1') %></span>
         <label for='q103b_9'>Rural Medicine</label>
         <br/>
         <span class='stat'><a name='q103b_10'></a><%= show_stats('q103b_10', '1') %></span>
         <label for='q103b_10'>Other</label>
          <label class='hint' for='q103b_10'>
            &#8212;
          </label>
         <span class='stat'><a name='q103b_other'></a><%= show_stats('q103b_other', '') %></span>
         <%= errors_for('q103b_other') %>
        </div>
      </td>
    </tr>
    </table>
    
    
  </div>
</div>
<div class="break"></div>
