<div class="stats-container">
<div class='stats' id='s032'>
    <div class='step' id='sec6_sl7_00_0'><p class='center margin'>
  	</p>
    
    </div>
    <table class='margin center border step' id='sec6_sl7_01_0'>
      <tr>
        <th class='empty middle padded' rowspan='2'>
          Specialty Areas<br/>
          <i class='hint'>(Continued)</i>
        </th>
        <th class='normal' colspan='4'>
          <small>
            <i>Choose one response from these four columns</i>
          </small>
        </th>
        <th class='normal' colspan='2'>
          <small>
            <i>Choose one response from these two columns</i>
          </small>
        </th>
      </tr>
      <tr>
        <th class='normal' style='width: 12%;'>
          <i>No Training</i> in this area
        </th>
        <th class='normal' style='width: 12%;'>
          <i>Underprepared</i> to do in current practice
        </th>
        <th class='normal' style='width: 12%;'>
          <i>Adequately Prepared</i> to do in current practice
        </th>
        <th class='normal' style='width: 12%;'>
          <i>Overprepared</i> to do in current practice
        </th>
        <th class='normal' colspan='2' style='width: 20%;'>
          Currently part of your practice?
        </th>
      </tr>
      <tr>
        <td class='question'>
        <span class='hint'>6.07f - </span>
        Dermatology
        </td>
        <td>
          <span class='stat'><a name='q606f'></a><%= show_stats('q606f', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q606f'></a><%= show_stats('q606f', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q606f'></a><%= show_stats('q606f', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q606f'></a><%= show_stats('q606f', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q606f_practiced'></a><%= show_stats('q606f_practiced', '1') %></span>
          <label for='q606f_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q606f_practiced'></a><%= show_stats('q606f_practiced', '0') %></span>
          <label for='q606f_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
        <span class='hint'>6.07g - </span>
        Diagnostic Imaging
        </td>
        <td>
          <span class='stat'><a name='q606g'></a><%= show_stats('q606g', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q606g'></a><%= show_stats('q606g', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q606g'></a><%= show_stats('q606g', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q606g'></a><%= show_stats('q606g', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q606g_practiced'></a><%= show_stats('q606g_practiced', '1') %></span>
          <label for='q606g_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q606g_practiced'></a><%= show_stats('q606g_practiced', '0') %></span>
          <label for='q606g_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
        <span class='hint'>6.07h - </span>
        Geriatrics
        </td>
        <td>
          <span class='stat'><a name='q606h'></a><%= show_stats('q606h', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q606h'></a><%= show_stats('q606h', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q606h'></a><%= show_stats('q606h', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q606h'></a><%= show_stats('q606h', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q606h_practiced'></a><%= show_stats('q606h_practiced', '1') %></span>
          <label for='q606h_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q606h_practiced'></a><%= show_stats('q606h_practiced', '0') %></span>
          <label for='q606h_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
        <span class='hint'>6.07i - </span>
        End of Life Care
        </td>
        <td>
          <span class='stat'><a name='q606i'></a><%= show_stats('q606i', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q606i'></a><%= show_stats('q606i', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q606i'></a><%= show_stats('q606i', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q606i'></a><%= show_stats('q606i', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q606i_practiced'></a><%= show_stats('q606i_practiced', '1') %></span>
          <label for='q606i_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q606i_practiced'></a><%= show_stats('q606i_practiced', '0') %></span>
          <label for='q606i_practiced_0'>No</label>
        </td>
      </tr>
    </table>
    
    
  </div>
</div>
<div class="break"></div>
