<div class="stats-container">
<h3 id="s002-top">Physician Characteristics</h3>
<div class='stats' id='s002'>
    <div class='step' id='sec1_sl1_00_0'><p class='margin' style='margin-bottom: 0;'>
    </p>
    
    </div>
    <table id="q101a" class='cell-left full borderless center step' id='sec1_sl1_01_0'>
    <tr>
      <td class='question' style='width: 65%;'>
        <span class='hint'>1.01a - </span>
        Are you board certified in Family Medicine (ABFM)?
        <br/>
      </td>
      <td class='no-wrap'>
        <div class='padded'>
          <span class='stat'><a name='q101a'></a><%= show_stats('q101a', '1') %></span>
          <label for='q101a_1'>Yes</label>
          <span class='stat'><a name='q101a'></a><%= show_stats('q101a', '2') %></span>
          <label for='q101a_2'>No</label>
        </div>
      </td>
    </tr>
    </table>
    
    
    <table id="q101b" class='cell-left full borderless center step' id='sec1_sl1_02_0'>
    <tr>
      <td class='question' style='width: 65%;'>
        <span class='hint'>1.01b - </span>
        In what year were you initially certified by the ABFM?
        <br/>
      </td>
      <td>
        <div class='padded'>
          <span class='stat'><a name='q101b'></a><%= show_stats('q101b', '') %></span>
          <%= errors_for('q101b') %>
        </div>
      </td>
    </tr>
    </table>
    
    
    <table id="q101c" class='cell-left full borderless center step' id='sec1_sl1_03_0'>
    <tr>
      <td class='question' style='width: 65%;'>
        <span class='hint'>1.01c - </span>
        Are you planning on being certified by the ABFM?
        <br/>
      </td>
      <td class='no-wrap'>
        <div class='padded'>
          <span class='stat'><a name='q101c'></a><%= show_stats('q101c', '1') %></span>
          <label for='q101c_1'>Yes</label>
          <span class='stat'><a name='q101c'></a><%= show_stats('q101c', '2') %></span>
          <label for='q101c_2'>No</label>
        </div>
      </td>
    </tr>
    </table>
    
    
    <table id="q101d" class='cell-left full borderless center step' id='sec1_sl1_04_0'>
    <tr>
      <td class='question' style='width: 65%;'>
        <span class='hint'>1.01d - </span>
        In what year are you planning to be certified by the ABFM?
        <br/>
      </td>
      <td>
        <div class='padded'>
          <span class='stat'><a name='q101d'></a><%= show_stats('q101d', '') %></span>
          <%= errors_for('q101d') %>
        </div>
      </td>
    </tr>
    </table>
    
    
  </div>
</div>
<div class="break"></div>
