<div class="stats-container">
<div class='stats' id='s037'>
    <div class='step' id='sec5_sl14_00_0'><p class='center margin'>
  	</p>
    
    </div>
    <table class='margin center border step' id='sec5_sl14_01_0'>
      <tr>
        <th class='empty middle padded' rowspan='2'>
          Maternity Care<br/>
          <i class='hint'>(Continued)</i>
        </th>
        <th class='normal' colspan='4'>
          <small>
            <i>Choose one response from these four columns</i>
          </small>
        </th>
        <th class='normal' colspan='2'>
          <small>
            <i>Choose one response from these two columns</i>
          </small>
        </th>
      </tr>
      <tr>
        <th class='normal' style='width: 12%;'>
          <i>No Training</i> in this procedure
        </th>
        <th class='normal' style='width: 12%;'>
          <i>Underprepared</i> to do in current practice
        </th>
        <th class='normal' style='width: 12%;'>
          <i>Adequately Prepared</i> to do in current practice
        </th>
        <th class='normal' style='width: 12%;'>
          <i>Overprepared</i> to do in current practice
        </th>
        <th class='normal' colspan='2' style='width: 20%;'>
          Currently part of your practice?
        </th>
      </tr>
      <tr>
        <td class='question'>
          <span class='hint'>7.03e - </span>
          3<sup>rd</sup> &amp; 4<sup>th</sup> degree laceration repair
        </td>
        <td>
          <span class='stat'><a name='q508e'></a><%= show_stats('q508e', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q508e'></a><%= show_stats('q508e', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q508e'></a><%= show_stats('q508e', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q508e'></a><%= show_stats('q508e', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q508e_practiced'></a><%= show_stats('q508e_practiced', '1') %></span>
          <label for='q508e_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q508e_practiced'></a><%= show_stats('q508e_practiced', '0') %></span>
          <label for='q508e_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
          <span class='hint'>7.03f - </span>
          C-section assist
        </td>
        <td>
          <span class='stat'><a name='q508f'></a><%= show_stats('q508f', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q508f'></a><%= show_stats('q508f', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q508f'></a><%= show_stats('q508f', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q508f'></a><%= show_stats('q508f', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q508f_practiced'></a><%= show_stats('q508f_practiced', '1') %></span>
          <label for='q508f_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q508f_practiced'></a><%= show_stats('q508f_practiced', '0') %></span>
          <label for='q508f_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
          <span class='hint'>7.03g - </span>
        C-section primary surgeon
        </td>
        <td>
          <span class='stat'><a name='q508g'></a><%= show_stats('q508g', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q508g'></a><%= show_stats('q508g', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q508g'></a><%= show_stats('q508g', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q508g'></a><%= show_stats('q508g', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q508g_practiced'></a><%= show_stats('q508g_practiced', '1') %></span>
          <label for='q508g_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q508g_practiced'></a><%= show_stats('q508g_practiced', '0') %></span>
          <label for='q508g_practiced_0'>No</label>
        </td>
      </tr>
    </table>
    
    
  </div>
</div>
<div class="break"></div>
