<div class="stats-container">
<div class='stats' id='s018'>
    <div class='step' id='sec4_sl6_00_0'><p class='center margin'>
  	</p>
    
    </div>
    <table class='margin full-wide center border step' id='sec4_sl6_01_0'>
      <tr>
        <th class='left empty hint normal padded'>
        </th>
        <th style='width: 10%;'>
          Don't Know<br/>
          <span class='hint normal'>(0)</span>
        </th>
        <th style='width: 10%;'>
          Absent<br/>
          <span class='hint normal'>(1)</span>
        </th>
        <th style='width: 10%;'>
          Planning<br/>
          <span class='hint normal'>(2)</span>
        </th>
        <th style='width: 10%;'>
          Present<br/>
          <span class='hint normal'>(3)</span>
        </th>
        <th style='width: 10%;'>
          Mature<br/>
          <span class='hint normal'>(4)</span>
        </th>
      </tr>
      <tr>
        <td class='align-left question'>
        <span class='hint'>4.26 - </span>
        Clinical pharmacy support
        </td>
        <td>
          <span class='stat'><a name='q426'></a><%= show_stats('q426', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q426'></a><%= show_stats('q426', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q426'></a><%= show_stats('q426', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q426'></a><%= show_stats('q426', '3') %></span>
        </td>
        <td>
          <span class='stat'><a name='q426'></a><%= show_stats('q426', '4') %></span>
        </td>
      </tr>
      <tr>
        <td class='align-left question'>
        <span class='hint'>4.27 - </span>
        Group visits
        </td>
        <td>
          <span class='stat'><a name='q427'></a><%= show_stats('q427', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q427'></a><%= show_stats('q427', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q427'></a><%= show_stats('q427', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q427'></a><%= show_stats('q427', '3') %></span>
        </td>
        <td>
          <span class='stat'><a name='q427'></a><%= show_stats('q427', '4') %></span>
        </td>
      </tr>
      <tr>
        <td class='align-left question'>
        <span class='hint'>4.28 - </span>
        Your practice as "patient-centered" versus "physician centered"
        </td>
        <td>
          <span class='stat'><a name='q428'></a><%= show_stats('q428', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q428'></a><%= show_stats('q428', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q428'></a><%= show_stats('q428', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q428'></a><%= show_stats('q428', '3') %></span>
        </td>
        <td>
          <span class='stat'><a name='q428'></a><%= show_stats('q428', '4') %></span>
        </td>
      </tr>
    </table>
    
    
  </div>
</div>
<div class="break"></div>
