<div class="stats-container">
<div class='stats' id='s039'>
    <div class='step' id='sec5_sl16_00_0'><p class='center margin'>
  	</p>
    
    </div>
    <table class='margin center border step' id='sec5_sl16_01_0'>
      <tr>
        <th class='empty middle padded' rowspan='2'>
          Urgent Care &amp; Hospital
        </th>
        <th class='normal' colspan='4'>
          <small>
            <i>Choose one response from these four columns</i>
          </small>
        </th>
        <th class='normal' colspan='2'>
          <small>
            <i>Choose one response from these two columns</i>
          </small>
        </th>
      </tr>
      <tr>
        <th class='normal' style='width: 12%;'>
          <i>No Training</i> in this procedure
        </th>
        <th class='normal' style='width: 12%;'>
          <i>Underprepared</i> to do in current practice
        </th>
        <th class='normal' style='width: 12%;'>
          <i>Adequately Prepared</i> to do in current practice
        </th>
        <th class='normal' style='width: 12%;'>
          <i>Overprepared</i> to do in current practice
        </th>
        <th class='normal' colspan='2' style='width: 20%;'>
          Currently part of your practice?
        </th>
      </tr>
      <tr>
        <td class='question'>
          <span class='hint'>7.05a - </span>
        Anterior nasal packing for epistaxis
        </td>
        <td>
          <span class='stat'><a name='q510a'></a><%= show_stats('q510a', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q510a'></a><%= show_stats('q510a', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q510a'></a><%= show_stats('q510a', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q510a'></a><%= show_stats('q510a', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q510a_practiced'></a><%= show_stats('q510a_practiced', '1') %></span>
          <label for='q510a_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q510a_practiced'></a><%= show_stats('q510a_practiced', '0') %></span>
          <label for='q510a_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
          <span class='hint'>7.05b - </span>
        Lumbar puncture
        </td>
        <td>
          <span class='stat'><a name='q510b'></a><%= show_stats('q510b', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q510b'></a><%= show_stats('q510b', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q510b'></a><%= show_stats('q510b', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q510b'></a><%= show_stats('q510b', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q510b_practiced'></a><%= show_stats('q510b_practiced', '1') %></span>
          <label for='q510b_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q510b_practiced'></a><%= show_stats('q510b_practiced', '0') %></span>
          <label for='q510b_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
          <span class='hint'>7.05c - </span>
        Thoracentesis
        </td>
        <td>
          <span class='stat'><a name='q510c'></a><%= show_stats('q510c', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q510c'></a><%= show_stats('q510c', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q510c'></a><%= show_stats('q510c', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q510c'></a><%= show_stats('q510c', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q510c_practiced'></a><%= show_stats('q510c_practiced', '1') %></span>
          <label for='q510c_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q510c_practiced'></a><%= show_stats('q510c_practiced', '0') %></span>
          <label for='q510c_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
          <span class='hint'>7.05d - </span>
        Paracentesis
        </td>
        <td>
          <span class='stat'><a name='q510d'></a><%= show_stats('q510d', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q510d'></a><%= show_stats('q510d', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q510d'></a><%= show_stats('q510d', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q510d'></a><%= show_stats('q510d', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q510d_practiced'></a><%= show_stats('q510d_practiced', '1') %></span>
          <label for='q510d_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q510d_practiced'></a><%= show_stats('q510d_practiced', '0') %></span>
          <label for='q510d_practiced_0'>No</label>
        </td>
      </tr>
    </table>
    
    
  </div>
</div>
<div class="break"></div>
