<div class="stats-container">
<div class='stats' id='s041'>
    <div class='step' id='sec5_sl18_00_0'><p class='center margin'>
  	</p>
    
    </div>
    <table class='margin center border step' id='sec5_sl18_01_0'>
      <tr>
        <th class='empty middle padded' rowspan='2'>
          Musculoskeletal
        </th>
        <th class='normal' colspan='4'>
          <small>
            <i>Choose one response from these four columns</i>
          </small>
        </th>
        <th class='normal' colspan='2'>
          <small>
            <i>Choose one response from these two columns</i>
          </small>
        </th>
      </tr>
      <tr>
        <th class='normal' style='width: 12%;'>
          <i>No Training</i> in this procedure
        </th>
        <th class='normal' style='width: 12%;'>
          <i>Underprepared</i> to do in current practice
        </th>
        <th class='normal' style='width: 12%;'>
          <i>Adequately Prepared</i> to do in current practice
        </th>
        <th class='normal' style='width: 12%;'>
          <i>Overprepared</i> to do in current practice
        </th>
        <th class='normal' colspan='2' style='width: 20%;'>
          Currently part of your practice?
        </th>
      </tr>
      <tr>
        <td class='question'>
          <span class='hint'>7.06a - </span>
        Initial management of simple FXs, including closed reduction
        </td>
        <td>
          <span class='stat'><a name='q511a'></a><%= show_stats('q511a', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q511a'></a><%= show_stats('q511a', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q511a'></a><%= show_stats('q511a', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q511a'></a><%= show_stats('q511a', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q511a_practiced'></a><%= show_stats('q511a_practiced', '1') %></span>
          <label for='q511a_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q511a_practiced'></a><%= show_stats('q511a_practiced', '0') %></span>
          <label for='q511a_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
          <span class='hint'>7.06b - </span>
        Splinting &amp; casting
        </td>
        <td>
          <span class='stat'><a name='q511b'></a><%= show_stats('q511b', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q511b'></a><%= show_stats('q511b', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q511b'></a><%= show_stats('q511b', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q511b'></a><%= show_stats('q511b', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q511b_practiced'></a><%= show_stats('q511b_practiced', '1') %></span>
          <label for='q511b_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q511b_practiced'></a><%= show_stats('q511b_practiced', '0') %></span>
          <label for='q511b_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
          <span class='hint'>7.06c - </span>
        Injection/aspiration &#8212; joint, bursa, ganglion cyst, trigger point
        </td>
        <td>
          <span class='stat'><a name='q511c'></a><%= show_stats('q511c', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q511c'></a><%= show_stats('q511c', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q511c'></a><%= show_stats('q511c', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q511c'></a><%= show_stats('q511c', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q511c_practiced'></a><%= show_stats('q511c_practiced', '1') %></span>
          <label for='q511c_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q511c_practiced'></a><%= show_stats('q511c_practiced', '0') %></span>
          <label for='q511c_practiced_0'>No</label>
        </td>
      </tr>
    </table>
    
    
  </div>
</div>
<div class="break"></div>
