<div class="stats-container">
<div class='stats' id='s021'>
    <div class='step' id='sec5_sl01_00_0'><p class='margin question'>
        Do you any of your family physician practice partners provide the
        following services?
      </p>
      
    </div>
    <table class='borderless center step' id='sec5_sl01_01_0' style='width: 50%;'>
      <tr>
        <td class='align-left question' style='width: 50%;'>
          <span class='hint'>5.02a - </span>
          Adult inpatient care
        </td>
        <td class='align-right no-wrap'>
          <span class='stat'><a name='q501a'></a><%= show_stats('q501a', '1') %></span>
          <label for='q501a_1'>Yes</label>
          <span class='stat'><a name='q501a'></a><%= show_stats('q501a', '2') %></span>
          <label for='q501a_2'>No</label>
        </td>
      </tr>
      <tr>
        <td class='align-left question'>
          <span class='hint'>5.02b - </span>
          Adult ICU / CCU care
        </td>
        <td class='align-right no-wrap'>
          <span class='stat'><a name='q501b'></a><%= show_stats('q501b', '1') %></span>
          <label for='q501b_1'>Yes</label>
          <span class='stat'><a name='q501b'></a><%= show_stats('q501b', '2') %></span>
          <label for='q501b_2'>No</label>
        </td>
      </tr>
      <tr>
        <td class='align-left question'>
          <span class='hint'>5.02c - </span>
          Nursing home care
        </td>
        <td class='align-right no-wrap'>
          <span class='stat'><a name='q501c'></a><%= show_stats('q501c', '1') %></span>
          <label for='q501c_1'>Yes</label>
          <span class='stat'><a name='q501c'></a><%= show_stats('q501c', '2') %></span>
          <label for='q501c_2'>No</label>
        </td>
      </tr>
      <tr>
        <td class='align-left question'>
          <span class='hint'>5.02d - </span>
          Newborn nursery care
        </td>
        <td class='align-right no-wrap'>
          <span class='stat'><a name='q501d'></a><%= show_stats('q501d', '1') %></span>
          <label for='q501d_1'>Yes</label>
          <span class='stat'><a name='q501d'></a><%= show_stats('q501d', '2') %></span>
          <label for='q501d_2'>No</label>
        </td>
      </tr>
      <tr>
        <td class='align-left question'>
          <span class='hint'>5.02e - </span>
          Pediatric inpatient care
        </td>
        <td class='align-right no-wrap'>
          <span class='stat'><a name='q501e'></a><%= show_stats('q501e', '1') %></span>
          <label for='q501e_1'>Yes</label>
          <span class='stat'><a name='q501e'></a><%= show_stats('q501e', '2') %></span>
          <label for='q501e_2'>No</label>
        </td>
      </tr>
      <tr>
        <td class='align-left question'>
          <span class='hint'>5.02f - </span>
          Surgical inpatient procedures
        </td>
        <td class='align-right no-wrap'>
          <span class='stat'><a name='q501f'></a><%= show_stats('q501f', '1') %></span>
          <label for='q501f_1'>Yes</label>
          <span class='stat'><a name='q501f'></a><%= show_stats('q501f', '2') %></span>
          <label for='q501f_2'>No</label>
        </td>
      </tr>
      <tr>
        <td class='align-left question'>
          <span class='hint'>5.02g - </span>
          Emergency Room care
        </td>
        <td class='align-right no-wrap'>
          <span class='stat'><a name='q501g'></a><%= show_stats('q501g', '1') %></span>
          <label for='q501g_1'>Yes</label>
          <span class='stat'><a name='q501g'></a><%= show_stats('q501g', '2') %></span>
          <label for='q501g_2'>No</label>
        </td>
      </tr>
      <tr>
        <td class='align-left question'>
          <span class='hint'>5.02h - </span>
          Prenatal care
        </td>
        <td class='align-right no-wrap'>
          <span class='stat'><a name='q502'></a><%= show_stats('q502', '1') %></span>
          <label for='q502_1'>Yes</label>
          <span class='stat'><a name='q502'></a><%= show_stats('q502', '2') %></span>
          <label for='q502_2'>No</label>
        </td>
      </tr>
      </table>
      
    
  </div>
</div>
<div class="break"></div>
