<div class="stats-container">
<h3 id="s006-top">Practice Characteristics</h3>
<div class='stats' id='s006'>
    <div class='step' id='sec2_sl1_00_0'><p class='center small hint margin'>
      <i>Please click only one circle for the question below.</i>
    </p>
    
    </div>
    <table class='cell-left full padded borderless center step' id='sec2_sl1_01_0'>
    <tr>
      <td class='top question' colspan='2' style='width: 50%;'>
        <span class='hint'>2.01 - </span>
        Which of the following best describes your current professional
        setting? 
        <br/>
      </td>
    </tr>
    <tr>
      <td width='5%'> </td>
      <td>
        <span class='stat'><a name='q201'></a><%= show_stats('q201', '1') %></span>
        <label for='q201_1'>
        Solo Family Medicine
        </label>
        <br/>
        <span class='stat'><a name='q201'></a><%= show_stats('q201', '2') %></span>
        <label for='q201_2'>
        Family Medicine partnership (two-physician practice)
        </label>
        <br/>
        <span class='stat'><a name='q201'></a><%= show_stats('q201', '3') %></span>
        <label for='q201_3'>
        Family Medicine group (three or more physicians)
        </label>
        <br/>
        <span class='stat'><a name='q201'></a><%= show_stats('q201', '4') %></span>
        <label for='q201_4'>
        Multi-specialty partnership or group &#8212; non-HMO
        </label>
        <br/>
        <span class='stat'><a name='q201'></a><%= show_stats('q201', '5') %></span>
        <label for='q201_5'>
        Multi-specialty partnership or group &#8212; HMO
        </label>
        <br/>
        <span class='stat'><a name='q201'></a><%= show_stats('q201', '6') %></span>
        <label for='q201_6'>
        Community Health Center
        </label>
        <br/>
        <span class='stat'><a name='q201'></a><%= show_stats('q201', '7') %></span>
        <label for='q201_7'>
        Academic
        </label>
        <br/>
        <span class='stat'><a name='q201'></a><%= show_stats('q201', '8') %></span>
        <label for='q201_8'>
        Locums
        </label>
        <br/>
        <span class='stat'><a name='q201'></a><%= show_stats('q201', '9') %></span>
        <label for='q201_9'>
        Student Health
        </label>
        <br/>
        <span class='stat'><a name='q201'></a><%= show_stats('q201', '10') %></span>
        <label for='q201_10'>
        Emergency Medicine / Urgent Care
        </label>
        <br/>
        <span class='stat'><a name='q201'></a><%= show_stats('q201', '11') %></span>
        <label for='q201_11'>
        Public Health
        </label>
        <br/>
        <span class='stat'><a name='q201'></a><%= show_stats('q201', '12') %></span>
        <label for='q201_12'>
        Research
        </label>
        <br/>
        <div class='no-wrap'>
          <span class='stat'><a name='q201'></a><%= show_stats('q201', '13') %></span>
          <label for='q201_13'>
            Other
          </label>
          <label class='hint' for='q201_13'>
            &#8212;
          </label>
          <span class='stat'><a name='q201_other'></a><%= show_stats('q201_other', '') %></span>
          <%= errors_for('q201_other') %>
        </div>
      </td>
    </tr>
    </table>
    
    
  </div>
</div>
<div class="break"></div>
