<div class="stats-container">
<div class='stats' id='s017'>
    <div class='step' id='sec4_sl5_00_0'><p class='center margin'>
  	</p>
    
    </div>
    <table class='margin full-wide center border step' id='sec4_sl5_01_0'>
      <tr>
        <th class='left empty hint normal padded'>
        </th>
        <th style='width: 10%;'>
          Don't Know<br/>
          <span class='hint normal'>(0)</span>
        </th>
        <th style='width: 10%;'>
          Absent<br/>
          <span class='hint normal'>(1)</span>
        </th>
        <th style='width: 10%;'>
          Planning<br/>
          <span class='hint normal'>(2)</span>
        </th>
        <th style='width: 10%;'>
          Present<br/>
          <span class='hint normal'>(3)</span>
        </th>
        <th style='width: 10%;'>
          Mature<br/>
          <span class='hint normal'>(4)</span>
        </th>
      </tr>
      <tr>
        <td class='align-left question'>
        <span class='hint'>4.21 - </span>
        Adequate, free parking
        </td>
        <td>
          <span class='stat'><a name='q421'></a><%= show_stats('q421', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q421'></a><%= show_stats('q421', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q421'></a><%= show_stats('q421', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q421'></a><%= show_stats('q421', '3') %></span>
        </td>
        <td>
          <span class='stat'><a name='q421'></a><%= show_stats('q421', '4') %></span>
        </td>
      </tr>
      <tr>
        <td class='align-left question'>
        <span class='hint'>4.22 - </span>
        Convenient public transportation access
        </td>
        <td>
          <span class='stat'><a name='q422'></a><%= show_stats('q422', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q422'></a><%= show_stats('q422', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q422'></a><%= show_stats('q422', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q422'></a><%= show_stats('q422', '3') %></span>
        </td>
        <td>
          <span class='stat'><a name='q422'></a><%= show_stats('q422', '4') %></span>
        </td>
      </tr>
      <tr>
        <td class='align-left question'>
        <span class='hint'>4.23 - </span>
        Using teams to manage patient care
        </td>
        <td>
          <span class='stat'><a name='q423'></a><%= show_stats('q423', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q423'></a><%= show_stats('q423', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q423'></a><%= show_stats('q423', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q423'></a><%= show_stats('q423', '3') %></span>
        </td>
        <td>
          <span class='stat'><a name='q423'></a><%= show_stats('q423', '4') %></span>
        </td>
      </tr>
      <tr>
        <td class='align-left question'>
        <span class='hint'>4.24 - </span>
        Integrated behavioral health
        </td>
        <td>
          <span class='stat'><a name='q424'></a><%= show_stats('q424', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q424'></a><%= show_stats('q424', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q424'></a><%= show_stats('q424', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q424'></a><%= show_stats('q424', '3') %></span>
        </td>
        <td>
          <span class='stat'><a name='q424'></a><%= show_stats('q424', '4') %></span>
        </td>
      </tr>
      <tr>
        <td class='align-left question'>
        <span class='hint'>4.25 - </span>
        Integrated "case management", social services
        </td>
        <td>
          <span class='stat'><a name='q425'></a><%= show_stats('q425', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q425'></a><%= show_stats('q425', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q425'></a><%= show_stats('q425', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q425'></a><%= show_stats('q425', '3') %></span>
        </td>
        <td>
          <span class='stat'><a name='q425'></a><%= show_stats('q425', '4') %></span>
        </td>
      </tr>
    </table>
    
    
  </div>
</div>
<div class="break"></div>
