<div class="stats-container">
<div class='stats' id='s042'>
    <div class='step' id='sec5_sl19_00_0'><p class='center margin'>
  	</p>
    
    </div>
    <table class='margin center border step' id='sec5_sl19_01_0'>
      <tr>
        <th class='empty middle padded' rowspan='2'>
          Genitourinary
        </th>
        <th class='normal' colspan='4'>
          <small>
            <i>Choose one response from these four columns</i>
          </small>
        </th>
        <th class='normal' colspan='2'>
          <small>
            <i>Choose one response from these two columns</i>
          </small>
        </th>
      </tr>
      <tr>
        <th class='normal' style='width: 12%;'>
          <i>No Training</i> in this procedure
        </th>
        <th class='normal' style='width: 12%;'>
          <i>Underprepared</i> to do in current practice
        </th>
        <th class='normal' style='width: 12%;'>
          <i>Adequately Prepared</i> to do in current practice
        </th>
        <th class='normal' style='width: 12%;'>
          <i>Overprepared</i> to do in current practice
        </th>
        <th class='normal' colspan='2' style='width: 20%;'>
          Currently part of your practice?
        </th>
      </tr>
      <tr>
        <td class='question'>
          <span class='hint'>7.07a - </span>
        Circumcision
        </td>
        <td>
          <span class='stat'><a name='q512a'></a><%= show_stats('q512a', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q512a'></a><%= show_stats('q512a', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q512a'></a><%= show_stats('q512a', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q512a'></a><%= show_stats('q512a', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q512a_practiced'></a><%= show_stats('q512a_practiced', '1') %></span>
          <label for='q512a_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q512a_practiced'></a><%= show_stats('q512a_practiced', '0') %></span>
          <label for='q512a_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
          <span class='hint'>7.07b - </span>
        Vasectomy
        </td>
        <td>
          <span class='stat'><a name='q512b'></a><%= show_stats('q512b', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q512b'></a><%= show_stats('q512b', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q512b'></a><%= show_stats('q512b', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q512b'></a><%= show_stats('q512b', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q512b_practiced'></a><%= show_stats('q512b_practiced', '1') %></span>
          <label for='q512b_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q512b_practiced'></a><%= show_stats('q512b_practiced', '0') %></span>
          <label for='q512b_practiced_0'>No</label>
        </td>
      </tr>
    </table>
    
    
  </div>
</div>
<div class="break"></div>
