<div class="stats-container">
<div class='stats' id='s016'>
    <div class='step' id='sec4_sl4_00_0'><p class='center margin'>
  	</p>
    
    </div>
    <table class='margin full-wide center border step' id='sec4_sl4_01_0'>
      <tr>
        <th class='left empty hint normal padded'>
        </th>
        <th style='width: 10%;'>
          Don't Know<br/>
          <span class='hint normal'>(0)</span>
        </th>
        <th style='width: 10%;'>
          Absent<br/>
          <span class='hint normal'>(1)</span>
        </th>
        <th style='width: 10%;'>
          Planning<br/>
          <span class='hint normal'>(2)</span>
        </th>
        <th style='width: 10%;'>
          Present<br/>
          <span class='hint normal'>(3)</span>
        </th>
        <th style='width: 10%;'>
          Mature<br/>
          <span class='hint normal'>(4)</span>
        </th>
      </tr>
      <tr>
        <td class='align-left question'>
        <span class='hint'>4.16 - </span>
        Expanded hours (e.g., clinic hours after 6 pm on weekdays/weekend
        clinic)
        </td>
        <td>
          <span class='stat'><a name='q416'></a><%= show_stats('q416', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q416'></a><%= show_stats('q416', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q416'></a><%= show_stats('q416', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q416'></a><%= show_stats('q416', '3') %></span>
        </td>
        <td>
          <span class='stat'><a name='q416'></a><%= show_stats('q416', '4') %></span>
        </td>
      </tr>
      <tr>
        <td class='align-left question'>
        <span class='hint'>4.17 - </span>
        Functional quality monitoring telephone system (system to monitor
        call abandonment / time to answer)
        </td>
        <td>
          <span class='stat'><a name='q417'></a><%= show_stats('q417', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q417'></a><%= show_stats('q417', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q417'></a><%= show_stats('q417', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q417'></a><%= show_stats('q417', '3') %></span>
        </td>
        <td>
          <span class='stat'><a name='q417'></a><%= show_stats('q417', '4') %></span>
        </td>
      </tr>
      <tr>
        <td class='align-left question'>
        <span class='hint'>4.18 - </span>
        Full asynchronous patient-accessible scheduling (e.g., Internet-based)
        </td>
        <td>
          <span class='stat'><a name='q418'></a><%= show_stats('q418', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q418'></a><%= show_stats('q418', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q418'></a><%= show_stats('q418', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q418'></a><%= show_stats('q418', '3') %></span>
        </td>
        <td>
          <span class='stat'><a name='q418'></a><%= show_stats('q418', '4') %></span>
        </td>
      </tr>
      <tr>
        <td class='align-left question'>
        <span class='hint'>4.19 - </span>
        Credible, reliable patient satisfaction survey (to at least the practice level)
        </td>
        <td>
          <span class='stat'><a name='q419'></a><%= show_stats('q419', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q419'></a><%= show_stats('q419', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q419'></a><%= show_stats('q419', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q419'></a><%= show_stats('q419', '3') %></span>
        </td>
        <td>
          <span class='stat'><a name='q419'></a><%= show_stats('q419', '4') %></span>
        </td>
      </tr>
      <tr>
        <td class='align-left question'>
        <span class='hint'>4.20 - </span>
        Sufficient and adequate physical space
        </td>
        <td>
          <span class='stat'><a name='q420'></a><%= show_stats('q420', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q420'></a><%= show_stats('q420', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q420'></a><%= show_stats('q420', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q420'></a><%= show_stats('q420', '3') %></span>
        </td>
        <td>
          <span class='stat'><a name='q420'></a><%= show_stats('q420', '4') %></span>
        </td>
      </tr>
    </table>
    
    
  </div>
</div>
<div class="break"></div>
