<div class="stats-container">
<h3 id="s012-top">Career Satisfaction</h3>
<div class='stats' id='s012'>
    <div class='step' id='sec3_sl1_00_0'><p class='center margin'>
			<i>For each of the following statements, please click the circle that
      best represents your point of view.</i>
  	</p>
    
    </div>
    <table class='margin full-wide center border step' id='sec3_sl1_01_0'>
      <tr>
        <th class='empty'> </th>
        <th style='width: 10%;'>
          Strongly Disagree
        </th>
        <th style='width: 10%;'>
          Disagree
        </th>
        <th style='width: 10%;'>
          Neutral 
        </th>
        <th style='width: 10%;'>
          Agree
        </th>
        <th style='width: 10%;'>
          Strongly Agree
        </th>
      </tr>
      <tr>
        <td class='align-left question'>
          <span class='hint'>3.01a - </span>
          Family Medicine <em style='color: #f00;'>no longer</em> has the appeal it used to have.
        </td>
        <td>
          <span class='stat'><a name='q301a'></a><%= show_stats('q301a', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q301a'></a><%= show_stats('q301a', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q301a'></a><%= show_stats('q301a', '3') %></span>
        </td>
        <td>
          <span class='stat'><a name='q301a'></a><%= show_stats('q301a', '4') %></span>
        </td>
        <td>
          <span class='stat'><a name='q301a'></a><%= show_stats('q301a', '5') %></span>
        </td>
      </tr>
      <tr>
        <td class='align-left question'>
          <span class='hint'>3.01b - </span>
          If I were to start my career over again, I would choose to be
          a family physician.
        </td>
        <td>
          <span class='stat'><a name='q301b'></a><%= show_stats('q301b', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q301b'></a><%= show_stats('q301b', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q301b'></a><%= show_stats('q301b', '3') %></span>
        </td>
        <td>
          <span class='stat'><a name='q301b'></a><%= show_stats('q301b', '4') %></span>
        </td>
        <td>
          <span class='stat'><a name='q301b'></a><%= show_stats('q301b', '5') %></span>
        </td>
      </tr>
      <tr>
        <td class='align-left question'>
          <span class='hint'>3.01c - </span>
          I would recommend family medicine to a student seeking advice.
        </td>
        <td>
          <span class='stat'><a name='q301c'></a><%= show_stats('q301c', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q301c'></a><%= show_stats('q301c', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q301c'></a><%= show_stats('q301c', '3') %></span>
        </td>
        <td>
          <span class='stat'><a name='q301c'></a><%= show_stats('q301c', '4') %></span>
        </td>
        <td>
          <span class='stat'><a name='q301c'></a><%= show_stats('q301c', '5') %></span>
        </td>
      </tr>
      <tr>
        <td class='align-left question'>
          <span class='hint'>3.01d - </span>
          Overall, my residency prepared me well for my current clinical
          practice
        </td>
        <td>
          <span class='stat'><a name='q301d'></a><%= show_stats('q301d', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q301d'></a><%= show_stats('q301d', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q301d'></a><%= show_stats('q301d', '3') %></span>
        </td>
        <td>
          <span class='stat'><a name='q301d'></a><%= show_stats('q301d', '4') %></span>
        </td>
        <td>
          <span class='stat'><a name='q301d'></a><%= show_stats('q301d', '5') %></span>
        </td>
      </tr>
    </table>
    
    
  </div>
</div>
<div class="break"></div>
