<div class="stats-container">
<div class='stats' id='s015'>
    <div class='step' id='sec4_sl3_00_0'><p class='center margin'>
  	</p>
    
    </div>
    <table class='margin full-wide center border step' id='sec4_sl3_01_0'>
      <tr>
        <th class='left empty hint normal padded'>
        </th>
        <th style='width: 10%;'>
          Don't Know<br/>
          <span class='hint normal'>(0)</span>
        </th>
        <th style='width: 10%;'>
          Absent<br/>
          <span class='hint normal'>(1)</span>
        </th>
        <th style='width: 10%;'>
          Planning<br/>
          <span class='hint normal'>(2)</span>
        </th>
        <th style='width: 10%;'>
          Present<br/>
          <span class='hint normal'>(3)</span>
        </th>
        <th style='width: 10%;'>
          Mature<br/>
          <span class='hint normal'>(4)</span>
        </th>
      </tr>
      <tr>
        <td class='align-left question'>
        <span class='hint'>4.11 - </span>
        Ongoing population-based Quality Assurance using an EMR / registry
        </td>
        <td>
          <span class='stat'><a name='q411'></a><%= show_stats('q411', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q411'></a><%= show_stats('q411', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q411'></a><%= show_stats('q411', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q411'></a><%= show_stats('q411', '3') %></span>
        </td>
        <td>
          <span class='stat'><a name='q411'></a><%= show_stats('q411', '4') %></span>
        </td>
      </tr>
      <tr>
        <td class='align-left question'>
        <span class='hint'>4.12 - </span>
        Chronic disease management registries
        </td>
        <td>
          <span class='stat'><a name='q412'></a><%= show_stats('q412', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q412'></a><%= show_stats('q412', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q412'></a><%= show_stats('q412', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q412'></a><%= show_stats('q412', '3') %></span>
        </td>
        <td>
          <span class='stat'><a name='q412'></a><%= show_stats('q412', '4') %></span>
        </td>
      </tr>
      <tr>
        <td class='align-left question'>
        <span class='hint'>4.13 - </span>
        EMR-based preventive services registries
        </td>
        <td>
          <span class='stat'><a name='q413'></a><%= show_stats('q413', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q413'></a><%= show_stats('q413', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q413'></a><%= show_stats('q413', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q413'></a><%= show_stats('q413', '3') %></span>
        </td>
        <td>
          <span class='stat'><a name='q413'></a><%= show_stats('q413', '4') %></span>
        </td>
      </tr>
      <tr>
        <td class='align-left question'>
        <span class='hint'>4.14 - </span>
        Practice-based research using an EMR
        </td>
        <td>
          <span class='stat'><a name='q414'></a><%= show_stats('q414', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q414'></a><%= show_stats('q414', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q414'></a><%= show_stats('q414', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q414'></a><%= show_stats('q414', '3') %></span>
        </td>
        <td>
          <span class='stat'><a name='q414'></a><%= show_stats('q414', '4') %></span>
        </td>
      </tr>
      <tr>
        <td class='align-left question'>
        <span class='hint'>4.15 - </span>
        Advanced or open-access scheduling
        </td>
        <td>
          <span class='stat'><a name='q415'></a><%= show_stats('q415', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q415'></a><%= show_stats('q415', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q415'></a><%= show_stats('q415', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q415'></a><%= show_stats('q415', '3') %></span>
        </td>
        <td>
          <span class='stat'><a name='q415'></a><%= show_stats('q415', '4') %></span>
        </td>
      </tr>
    </table>
    
    
  </div>
</div>
<div class="break"></div>
