<div class="stats-container">
<div class='stats' id='s040'>
    <div class='step' id='sec5_sl17_00_0'><p class='center margin'>
  	</p>
    
    </div>
    <table class='margin center border step' id='sec5_sl17_01_0'>
      <tr>
        <th class='empty middle padded' rowspan='2'>
          Urgent Care &amp; Hospital<br/>
          <i class='hint'>(Continued)</i>
        </th>
        <th class='normal' colspan='4'>
          <small>
            <i>Choose one response from these four columns</i>
          </small>
        </th>
        <th class='normal' colspan='2'>
          <small>
            <i>Choose one response from these two columns</i>
          </small>
        </th>
      </tr>
      <tr>
        <th class='normal' style='width: 12%;'>
          <i>No Training</i> in this procedure
        </th>
        <th class='normal' style='width: 12%;'>
          <i>Underprepared</i> to do in current practice
        </th>
        <th class='normal' style='width: 12%;'>
          <i>Adequately Prepared</i> to do in current practice
        </th>
        <th class='normal' style='width: 12%;'>
          <i>Overprepared</i> to do in current practice
        </th>
        <th class='normal' colspan='2' style='width: 20%;'>
          Currently part of your practice?
        </th>
      </tr>
      <tr>
        <td class='question'>
          <span class='hint'>7.05e - </span>
        Central line
        </td>
        <td>
          <span class='stat'><a name='q510e'></a><%= show_stats('q510e', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q510e'></a><%= show_stats('q510e', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q510e'></a><%= show_stats('q510e', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q510e'></a><%= show_stats('q510e', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q510e_practiced'></a><%= show_stats('q510e_practiced', '1') %></span>
          <label for='q510e_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q510e_practiced'></a><%= show_stats('q510e_practiced', '0') %></span>
          <label for='q510e_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
          <span class='hint'>7.05f - </span>
        Endotracheal intubation
        </td>
        <td>
          <span class='stat'><a name='q510f'></a><%= show_stats('q510f', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q510f'></a><%= show_stats('q510f', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q510f'></a><%= show_stats('q510f', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q510f'></a><%= show_stats('q510f', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q510f_practiced'></a><%= show_stats('q510f_practiced', '1') %></span>
          <label for='q510f_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q510f_practiced'></a><%= show_stats('q510f_practiced', '0') %></span>
          <label for='q510f_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
          <span class='hint'>7.05g - </span>
        Ventilator management
        </td>
        <td>
          <span class='stat'><a name='q510g'></a><%= show_stats('q510g', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q510g'></a><%= show_stats('q510g', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q510g'></a><%= show_stats('q510g', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q510g'></a><%= show_stats('q510g', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q510g_practiced'></a><%= show_stats('q510g_practiced', '1') %></span>
          <label for='q510g_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q510g_practiced'></a><%= show_stats('q510g_practiced', '0') %></span>
          <label for='q510g_practiced_0'>No</label>
        </td>
      </tr>
      <tr>
        <td class='question'>
          <span class='hint'>7.05h - </span>
        Chest tube placement
        </td>
        <td>
          <span class='stat'><a name='q510h'></a><%= show_stats('q510h', '0') %></span>
        </td>
        <td>
          <span class='stat'><a name='q510h'></a><%= show_stats('q510h', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q510h'></a><%= show_stats('q510h', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q510h'></a><%= show_stats('q510h', '3') %></span>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q510h_practiced'></a><%= show_stats('q510h_practiced', '1') %></span>
          <label for='q510h_practiced_1'>Yes</label>
        </td>
        <td class='no-wrap'>
          <span class='stat'><a name='q510h_practiced'></a><%= show_stats('q510h_practiced', '0') %></span>
          <label for='q510h_practiced_0'>No</label>
        </td>
      </tr>
    </table>
    
    
  </div>
</div>
<div class="break"></div>
