<div class="stats-container">
<div class='stats' id='s003'>
    <div class='step' id='sec1_sl2_00_0'><p class='margin' style='margin-bottom: 0;'>
    </p>
    
    </div>
    <div class='step' id='sec1_sl2_01_0'><p class='margin' style='margin-bottom: 0;'>
      Do you have a...
    </p>
    
    </div>
    <table class='cell-left full borderless center step' id='sec1_sl2_02_0'>
    <tr id="q102a">
      <td class='question'>
        <span class='hint'>1.02a - </span>
        CAQ in adolescent medicine?
      </td>
      <td class='align-right no-wrap'>
        <span class='stat'><a name='q102a'></a><%= show_stats('q102a', '1') %></span>
        <label for='q102a_1'>Yes</label>
        <span class='stat'><a name='q102a'></a><%= show_stats('q102a', '2') %></span>
        <label for='q102a_2'>No</label>
      </td>
    </tr>
    <tr id="q102b">
      <td class='question'>
        <span class='hint'>1.02b - </span>
        CAQ in geriatrics?
      </td>
      <td class='align-right no-wrap'>
        <span class='stat'><a name='q102b'></a><%= show_stats('q102b', '1') %></span>
        <label for='q102b_1'>Yes</label>
        <span class='stat'><a name='q102b'></a><%= show_stats('q102b', '2') %></span>
        <label for='q102b_2'>No</label>
      </td>
    </tr>
    <tr id="q102c">
      <td class='question'>
        <span class='hint'>1.02c - </span>
        CAQ in sports medicine?
      </td>
      <td class='align-right no-wrap'>
        <span class='stat'><a name='q102c'></a><%= show_stats('q102c', '1') %></span>
        <label for='q102c_1'>Yes</label>
        <span class='stat'><a name='q102c'></a><%= show_stats('q102c', '2') %></span>
        <label for='q102c_2'>No</label>
      </td>
    </tr>
    <tr id="q102d">
      <td class='question'>
        <span class='hint'>1.02d - </span>
        Board certification in other specialty or other CAQ?
      </td>
      <td class='align-right no-wrap'>
        <span class='stat'><a name='q102d'></a><%= show_stats('q102d', '1') %></span>
        <label for='q102d_1'>Yes</label>
        <span class='stat'><a name='q102d'></a><%= show_stats('q102d', '2') %></span>
        <label for='q102d_2'>No</label>
      </td>
    </tr>
    </table>
    
    
    <table class='cell-left full borderless center step' id='sec1_sl2_03_0'>
    <tr id="q102d_other">
      <td class='question' colspan='2'>
        <span class='hint'>1.02e - </span>
        For what other specialty / CAQ do you have a board certification?
      </td>
    </tr>
    <tr>
      <td style='width: 2%;'> </td>
      <td>
        <div class='padded'>
<span class='stat'><a name='q102d_other'></a><%= show_stats('q102d_other', '') %></span>
          <%= errors_for('q102d_other') %>
        </div>
      </td>
    </tr>
    </table>
    
    
  </div>
</div>
<div class="break"></div>
