<div class="stats-container">
<h3 id="s019-top">Practice Redesign</h3>
<div class='stats' id='s019'>
    <div class='step' id='sec4_sl7_00_0'><p class='margin question'>
      <span class='hint'>4.29 - </span>
      Using the scale below, please indicate what role you have played in
      office practice redesign toward the Patient-Centered Medical Home.
  	</p>
    
    </div>
    <table class='margin full-wide center border step' id='sec4_sl7_01_0'>
      <tr>
        <td class='padded' style='width: 20%; vertical-align: bottom;'>
          <label for='q429_1'>
          <b>Led or co-led opposition</b> to practice redesign<br/>
          <span class='hint normal'>(1)</span>
          </label>
        </td>
        <td class='padded' style='width: 20%; vertical-align: bottom;'>
          <label for='q429_2'>
          <b>Actively opposed but did not lead</b> opposition to practice redesign<br/>
          <span class='hint normal'>(2)</span>
          </label>
        </td>
        <td class='padded' style='width: 20%; vertical-align: bottom;'>
          <label for='q429_3'>
          <b>Passive</b> - not for or against practice redesign<br/>
          <span class='hint normal'>(3)</span>
          </label>
        </td>
        <td class='padded' style='width: 20%; vertical-align: bottom;'>
          <label for='q429_4'>
          <b>Actively for</b> practice redesign, but did not lead it<br/>
          <span class='hint normal'>(4)</span>
          </label>
        </td>
        <td class='padded' style='width: 20%; vertical-align: bottom;'>
          <label for='q429_5'>
          <b>Led or co-led</b> practice redesign<br/>
          <span class='hint normal'>(5)</span>
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <span class='stat'><a name='q429'></a><%= show_stats('q429', '1') %></span>
        </td>
        <td>
          <span class='stat'><a name='q429'></a><%= show_stats('q429', '2') %></span>
        </td>
        <td>
          <span class='stat'><a name='q429'></a><%= show_stats('q429', '3') %></span>
        </td>
        <td>
          <span class='stat'><a name='q429'></a><%= show_stats('q429', '4') %></span>
        </td>
        <td>
          <span class='stat'><a name='q429'></a><%= show_stats('q429', '5') %></span>
        </td>
      </tr>
    </table>
    
    
    <div class='pad-top step' id='sec4_sl07_02_0'>
    <p class='margin question'>
      <span class='hint'>4.30 - </span>
      Did you play a role during your residency training in
      Patient-Centered Medical Home design/implementation?
  	</p>
    </div>
    
    
    <table class='borderless center step' id='sec4_sl07_03_0'>
    <tr>
      <td class='no-wrap'>
        <div class='padded'>
          <span class='stat'><a name='q430'></a><%= show_stats('q430', '1') %></span>
          <label for='q430_1'>Yes</label>
          <span class='stat'><a name='q430'></a><%= show_stats('q430', '2') %></span>
          <label for='q430_2'>No</label>
        </div>
      </td>
    </tr>
    </table>
    
    
  </div>
</div>
<div class="break"></div>
