<% form_tag( url_for(:controller=>'stats',:action=>'graduate_2010') , :id => 'form', :method => :get) { %>

<div class="clear stats-container-top">
  <%= render :partial => 'graduate_2010_top' %>
  <%= render :partial => 'graduate_2010_s002' %>
  <%= render :partial => 'graduate_2010_s003' %>
  <%= render :partial => 'graduate_2010_s004' %>
  <%= render :partial => 'graduate_2010_s005' %>
  <%= render :partial => 'graduate_2010_s006' %>
  <%= render :partial => 'graduate_2010_s007' %>
  <%= render :partial => 'graduate_2010_s008' %>
  <%= render :partial => 'graduate_2010_s009' %>
  <%= render :partial => 'graduate_2010_s010' %>
  <%= render :partial => 'graduate_2010_s011' %>
  <%= render :partial => 'graduate_2010_s012' %>
  <%= render :partial => 'graduate_2010_s013' %>
  <%= render :partial => 'graduate_2010_s014' %>
  <%= render :partial => 'graduate_2010_s015' %>
  <%= render :partial => 'graduate_2010_s016' %>
  <%= render :partial => 'graduate_2010_s017' %>
  <%= render :partial => 'graduate_2010_s018' %>
  <%= render :partial => 'graduate_2010_s019' %>
  <%= render :partial => 'graduate_2010_s020' %>
  <%= render :partial => 'graduate_2010_s021' %>
  <%= render :partial => 'graduate_2010_s022' %>
  <%= render :partial => 'graduate_2010_s023' %>
  <%= render :partial => 'graduate_2010_s024' %>
  <%= render :partial => 'graduate_2010_s025' %>
  <%= render :partial => 'graduate_2010_s026' %>
  <%= render :partial => 'graduate_2010_s027' %>
  <%= render :partial => 'graduate_2010_s028' %>
  <%= render :partial => 'graduate_2010_s029' %>
  <%= render :partial => 'graduate_2010_s030' %>
  <%= render :partial => 'graduate_2010_s031' %>
  <%= render :partial => 'graduate_2010_s032' %>
  <%= render :partial => 'graduate_2010_s033' %>
  <%= render :partial => 'graduate_2010_s034' %>
  <%= render :partial => 'graduate_2010_s035' %>
  <%= render :partial => 'graduate_2010_s036' %>
  <%= render :partial => 'graduate_2010_s037' %>
  <%= render :partial => 'graduate_2010_s038' %>
  <%= render :partial => 'graduate_2010_s039' %>
  <%= render :partial => 'graduate_2010_s040' %>
  <%= render :partial => 'graduate_2010_s041' %>
  <%= render :partial => 'graduate_2010_s042' %>
  <%= render :partial => 'graduate_2010_s043' %>
  <%= render :partial => 'graduate_2010_s044' %>
  <%= render :partial => 'graduate_2010_s045' %>
</div>

<% } # form_tag %>
