<% form_tag(url_for(:controller=>'stats',:action=>'graduate_2008',:id=>''), :id => 'form', :method => :get) { %>


<div class="clear stats-container-top">
  <%= render :partial => 'graduate_2008_top' %>
  <%= render :partial => 'graduate_2008_s002' %>
  <%= render :partial => 'graduate_2008_s003' %>
  <%= render :partial => 'graduate_2008_s004' %>
  <%= render :partial => 'graduate_2008_s005' %>
  <%= render :partial => 'graduate_2008_s006' %>
  <%= render :partial => 'graduate_2008_s007' %>
  <%= render :partial => 'graduate_2008_s008' %>
  <%= render :partial => 'graduate_2008_s009' %>
  <%= render :partial => 'graduate_2008_s010' %>
  <%= render :partial => 'graduate_2008_s011' %>
  <%= render :partial => 'graduate_2008_s012' %>
  <%= render :partial => 'graduate_2008_s013' %>
  <%= render :partial => 'graduate_2008_s014' %>
  <%= render :partial => 'graduate_2008_s015' %>
  <%= render :partial => 'graduate_2008_s016' %>
  <%= render :partial => 'graduate_2008_s017' %>
  <%= render :partial => 'graduate_2008_s018' %>
  <%= render :partial => 'graduate_2008_s019' %>
  <%= render :partial => 'graduate_2008_s020' %>
  <%= render :partial => 'graduate_2008_s021' %>
  <%= render :partial => 'graduate_2008_s022' %>
  <%= render :partial => 'graduate_2008_s023' %>
  <%= render :partial => 'graduate_2008_s024' %>
  <%= render :partial => 'graduate_2008_s025' %>
  <%= render :partial => 'graduate_2008_s026' %>
  <%= render :partial => 'graduate_2008_s027' %>
  <%= render :partial => 'graduate_2008_s028' %>
  <%= render :partial => 'graduate_2008_s029' %>
  <%= render :partial => 'graduate_2008_s030' %>
  <%= render :partial => 'graduate_2008_s031' %>
  <%= render :partial => 'graduate_2008_s032' %>
  <%= render :partial => 'graduate_2008_s033' %>
  <%= render :partial => 'graduate_2008_s034' %>
  <%= render :partial => 'graduate_2008_s035' %>
  <%= render :partial => 'graduate_2008_s036' %>
  <%= render :partial => 'graduate_2008_s037' %>
  <%= render :partial => 'graduate_2008_s038' %>
  <%= render :partial => 'graduate_2008_s039' %>
  <%= render :partial => 'graduate_2008_s040' %>
  <%= render :partial => 'graduate_2008_s041' %>
  <%= render :partial => 'graduate_2008_s042' %>
  <%= render :partial => 'graduate_2008_s043' %>
  <%= render :partial => 'graduate_2008_s044' %>
  <%= render :partial => 'graduate_2008_s045' %>
</div>

<% } # form_tag %>
