<% form_tag( url_for(:controller=>'stats',:action=>'graduate_2011') , :id => 'form', :method => :get) { %>

<div class="clear stats-container-top">
  <%= render :partial => 'graduate_2011_top' %>
  <%= render :partial => 'graduate_2011_s002' %>
  <%= render :partial => 'graduate_2011_s003' %>
  <%= render :partial => 'graduate_2011_s004' %>
  <%= render :partial => 'graduate_2011_s005' %>
  <%= render :partial => 'graduate_2011_s006' %>
  <%= render :partial => 'graduate_2011_s007' %>
  <%= render :partial => 'graduate_2011_s008' %>
  <%= render :partial => 'graduate_2011_s009' %>
  <%= render :partial => 'graduate_2011_s010' %>
  <%= render :partial => 'graduate_2011_s011' %>
  <%= render :partial => 'graduate_2011_s012' %>
  <%= render :partial => 'graduate_2011_s013' %>
  <%= render :partial => 'graduate_2011_s014' %>
  <%= render :partial => 'graduate_2011_s015' %>
  <%= render :partial => 'graduate_2011_s016' %>
  <%= render :partial => 'graduate_2011_s017' %>
  <%= render :partial => 'graduate_2011_s018' %>
  <%= render :partial => 'graduate_2011_s019' %>
  <%= render :partial => 'graduate_2011_s020' %>
  <%= render :partial => 'graduate_2011_s021' %>
  <%= render :partial => 'graduate_2011_s022' %>
  <%= render :partial => 'graduate_2011_s023' %>
  <%= render :partial => 'graduate_2011_s024' %>
  <%= render :partial => 'graduate_2011_s025' %>
  <%= render :partial => 'graduate_2011_s026' %>
  <%= render :partial => 'graduate_2011_s027' %>
  <%= render :partial => 'graduate_2011_s028' %>
  <%= render :partial => 'graduate_2011_s029' %>
  <%= render :partial => 'graduate_2011_s030' %>
  <%= render :partial => 'graduate_2011_s031' %>
  <%= render :partial => 'graduate_2011_s032' %>
  <%= render :partial => 'graduate_2011_s033' %>
  <%= render :partial => 'graduate_2011_s034' %>
  <%= render :partial => 'graduate_2011_s035' %>
  <%= render :partial => 'graduate_2011_s036' %>
  <%= render :partial => 'graduate_2011_s037' %>
  <%= render :partial => 'graduate_2011_s038' %>
  <%= render :partial => 'graduate_2011_s039' %>
  <%= render :partial => 'graduate_2011_s040' %>
  <%= render :partial => 'graduate_2011_s041' %>
  <%= render :partial => 'graduate_2011_s042' %>
  <%= render :partial => 'graduate_2011_s043' %>
  <%= render :partial => 'graduate_2011_s044' %>
  <%= render :partial => 'graduate_2011_s045' %>
</div>

<% } # form_tag %>
