<% form_tag( stats_path, :id => 'form', :method => :get) { %>
    <%= hidden_field_tag(:year=>@year)

<div class="clear stats-container-top">
  <%= render :partial => 'graduate_2007_top' %>
  <%= render :partial => 'graduate_2007_s002' %>
  <%= render :partial => 'graduate_2007_s003' %>
  <%= render :partial => 'graduate_2007_s004' %>
  <%= render :partial => 'graduate_2007_s005' %>
  <%= render :partial => 'graduate_2007_s006' %>
  <%= render :partial => 'graduate_2007_s007' %>
  <%= render :partial => 'graduate_2007_s008' %>
  <%= render :partial => 'graduate_2007_s009' %>
  <%= render :partial => 'graduate_2007_s010' %>
  <%= render :partial => 'graduate_2007_s011' %>
  <%= render :partial => 'graduate_2007_s012' %>
  <%= render :partial => 'graduate_2007_s013' %>
  <%= render :partial => 'graduate_2007_s014' %>
  <%= render :partial => 'graduate_2007_s015' %>
  <%= render :partial => 'graduate_2007_s016' %>
  <%= render :partial => 'graduate_2007_s017' %>
  <%= render :partial => 'graduate_2007_s018' %>
  <%= render :partial => 'graduate_2007_s019' %>
  <%= render :partial => 'graduate_2007_s020' %>
  <%= render :partial => 'graduate_2007_s021' %>
  <%= render :partial => 'graduate_2007_s022' %>
  <%= render :partial => 'graduate_2007_s023' %>
  <%= render :partial => 'graduate_2007_s024' %>
  <%= render :partial => 'graduate_2007_s025' %>
  <%= render :partial => 'graduate_2007_s026' %>
  <%= render :partial => 'graduate_2007_s027' %>
  <%= render :partial => 'graduate_2007_s028' %>
  <%= render :partial => 'graduate_2007_s029' %>
  <%= render :partial => 'graduate_2007_s030' %>
  <%= render :partial => 'graduate_2007_s031' %>
  <%= render :partial => 'graduate_2007_s032' %>
  <%= render :partial => 'graduate_2007_s033' %>
  <%= render :partial => 'graduate_2007_s034' %>
  <%= render :partial => 'graduate_2007_s035' %>
  <%= render :partial => 'graduate_2007_s036' %>
  <%= render :partial => 'graduate_2007_s037' %>
  <%= render :partial => 'graduate_2007_s038' %>
  <%= render :partial => 'graduate_2007_s039' %>
  <%= render :partial => 'graduate_2007_s040' %>
  <%= render :partial => 'graduate_2007_s041' %>
  <%= render :partial => 'graduate_2007_s042' %>
  <%= render :partial => 'graduate_2007_s043' %>
  <%= render :partial => 'graduate_2007_s044' %>
  <%= render :partial => 'graduate_2007_s045' %>
</div>

<% } # form_tag %>

